<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Lista de Clientes</ion-title>
    <ion-buttons slot="primary" (click)="addCliente()">
      <ion-button color="success" >
        <ion-icon slot="end" name="add"></ion-icon>
        Novo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col size="10">
    <ion-input [(ngModel)]="nome" type="search" placeholder="Buscar"></ion-input>
  </ion-col>
  <ion-col>
      <ion-buttons (click)="Buscar()">
        <ion-button>
          <ion-icon slot="end" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-col>
</ion-row>



<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  


  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item-options side="start">

        <ion-item-option (click)="editar(cliente.id,
                                         cliente.nome,
                                         cliente.telefone,
                                         cliente.email)">Editar</ion-item-option>

      </ion-item-options>
  
      <ion-item>
        <ion-label>{{cliente.nome}}</ion-label>
      </ion-item>
  
      <ion-item-options side="end">

        <ion-item-option (click)="mostrar(cliente.id, cliente.nome, cliente.telefone, cliente.email)" color="secondary">Mostrar</ion-item-option>

        <ion-item-option (click)="excluir(cliente.id)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
 
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingText="Carregando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>